<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unipi.p18196.callendar">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Callendar">

        <service android:name="com.unipi.p18196.callendar.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEhn7UKUtQ4ipSoBim0Vx9Vyyqcs3YUx0" />

        <activity android:name="com.unipi.p18196.callendar.MapsActivity"
            android:exported="false" />
        <activity
            android:name="com.unipi.p18196.callendar.EditEvent"
            android:exported="false" />
        <activity
            android:name="com.unipi.p18196.callendar.AddEvent"
            android:exported="false" />
        <activity
            android:name="com.unipi.p18196.callendar.Calendar"
            android:exported="false" />
        <activity
            android:name="com.unipi.p18196.callendar.Signup"
            android:exported="false" />
        <activity
            android:name="com.unipi.p18196.callendar.Login"
            android:exported="false" />
        <activity
            android:name="com.unipi.p18196.callendar.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>



</manifest>